.background {
    height: 300%;
    width: 300%;
    word-break: break-word;
    position: fixed;
    top: -100vh;
    font-size: 5rem;
    letter-spacing: 0.8rem;
    transform: rotate(30deg);
    font-weight: bolder;
    z-index: -100000;
    background-color: var(--gray);
    color: var(--dark-gray);
    line-height: 5rem;

}