.category-picker {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.category-picker > h1 {
    font-size: 4rem;
}

.category-picker > ul {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.category-picker > ul > li {
    display: flex;
    align-items: center;
    width: 20rem;
}

.category-picker > ul > li > a {
    width: 100%;
}

body {
    margin-bottom: 5.5rem;
}