@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1F1F1F;
}

main {
    height: 100%;
}

.navbar {
    display: flex;
    background-color: #414141;
    height: 5.5rem;
}

.navbar > a {
    width: calc(100%/3);
    background-color: #414141;
    border: none;
    border-right: 1px #545454 solid;
    border-top: 1px #545454 solid;
    color: white;
    font-size: 3.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navbar > a:hover {
    background-color: #373737;
    cursor: pointer;
    transition: 0.1s;
}

.navbar > a.selected {
    background-color: #373737;
    cursor: pointer;
    text-shadow: 0 0 3px white;
}